.MatchSchedulePage{
    height: 700px;
    width: 100%;
    background-image:linear-gradient(180deg, rgba(122, 58, 187, 0.6) 0%,rgba(122, 58, 187, 0.1) 100%);
}
.MatchScheduleTable{
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
}
.inputItemDate{
    margin-left: 20px;
}