.Match{
    display: flex;
    background-color:  #BABFF0;
    padding: 8px 10px;
    max-height: 120px;
    margin: 15px 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    max-width: 550px;
}
.TeamLogo{
    width: 60px;
    height: 60px;
}
.TeamLogoImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.MatchInfo{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}
.MatchInfoHeader{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.MatchInfoHeader span{
    width: 27%;
    text-align: center;
    font-size: 0.95rem;

}

.Time{
    font-size: 0.7rem;
    margin:8px 0
}
.Stadium{
    font-size: 0.8rem;
}