.mainButton{
    color:white;
    background-color:  #7B3ABB;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
}
.mainButton:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0.2px white;
}
