.MatchSchedule{
    width: 100%;
}
.MatchScheduleContent{
    background-color: white;
    padding-bottom: 10px;
    height: 470px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.MatchScheduleContentMain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.MatchScheduleHeader{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 12px;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}
.disableBtn{
    height: 430px;

}