.TeamPage{
    height: 800px;
    width: 100%;
    background-image:linear-gradient(180deg, rgba(122, 58, 187, 0.6) 0%,rgba(122, 58, 187, 0.1) 100%);
}
.TeamPageContent{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}
.TeamPageList{
    width: 70%;
}
.TeamPageLogo{
    width: 30%;
}

.TeamLogoImg{
    object-fit: contain;width: 100%;height: 100%;
}
.Modal{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,0.6);
}
.ModalForm{
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 300px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.addPlayerForm{
    display: flex;
    flex-direction: column;
}
.ModalFormHeader{

}
.ModalFormContent{
    
}