.TeamPage{
    height: 800px;
    width: 100%;
    background-image:linear-gradient(180deg, rgba(122, 58, 187, 0.6) 0%,rgba(122, 58, 187, 0.1) 100%);
}
.TeamPageContent{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}
.TeamPageList{
    width: 70%;
}
.TeamPageLogo{
    width: 30%;
}

.TeamLogoImg{
    object-fit: contain;width: 100%;height: 100%;
}