.7_3 { 
	overflow:hidden;
}.e7_3 { 
	width:1920px;
	height:1068px;
	position:absolute;
}.e6_57 { 
	width:920px;
	height:651px;
	position:absolute;
	left:0px;
	top:256px;
}.e6_59 { 
	color:rgba(255, 255, 255, 1);
	width:573px;
	height:148px;
	position:absolute;
	left:183px;
	top:201px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e6_58 { 
	color:rgba(255, 255, 255, 1);
	background-image:linear-gradient(0deg, rgba(186.09686851501465, 191.49969220161438, 240.12498378753662, 1) 0%,rgba(186.09686851501465, 191.49969220161438, 240.12498378753662, 0.5099999904632568) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:940px;
	height:218px;
	position:absolute;
	left:0px;
	top:42px;
	font-family:Inter;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}.e6_62 { 
	width:300px;
	height:85px;
	position:absolute;
	left:210px;
	top:393px;
}.e6_63 { 
	background-color:rgba(122.71875455975533, 58.437505066394806, 187.00000405311584, 1);
	width:300px;
	height:66.6477279663086px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e6_64 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	width:249px;
	height:69.54545593261719px;
	position:absolute;
	left:27px;
	top:15.454545021057129px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e6_151 { 
	width:205px;
	height:85px;
	position:absolute;
	left:539px;
	top:391px;
}.e6_152 { 
	background-color:rgba(122.71875455975533, 58.437505066394806, 187.00000405311584, 1);
	width:205px;
	height:69.12088012695312px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e6_153 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	width:205px;
	height:67.25274658203125px;
	position:absolute;
	left:0px;
	top:17.74725341796875px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e11_2 { 
	width:61px;
	height:63px;
	position:absolute;
	left:33px;
	top:120px;
}.e6_61 { 
	width:1920px;
	height:151px;
	position:absolute;
	left:0px;
	top:0px;
}.e6_15 { 
	width:344px;
	height:72px;
	position:absolute;
	left:32px;
	top:61px;
}.e6_10 { 
	color:rgba(255, 255, 255, 0.800000011920929);
	width:344px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e6_8 { 
	width:1044px;
	height:91px;
	position:absolute;
	left:774px;
	top:39px;
}.e6_16 { 
	width:206px;
	height:51px;
	position:absolute;
	left:322px;
	top:16.000041961669922px;
}.e6_6 { 
	width:205px;
	height:49px;
	position:absolute;
	left:1px;
	top:1.7567138671875px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e22_554 { 
	color:rgba(255, 255, 255, 1);
	width:206px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e22_558 { 
	width:206px;
	height:51px;
	position:absolute;
	left:565px;
	top:16px;
}.e22_559 { 
	width:205px;
	height:49px;
	position:absolute;
	left:1px;
	top:1.7567138671875px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e22_560 { 
	color:rgba(255, 255, 255, 1);
	width:206px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e22_555 { 
	width:285px;
	height:51px;
	position:absolute;
	left:0px;
	top:16px;
}.e22_556 { 
	width:284px;
	height:49px;
	position:absolute;
	left:1px;
	top:2px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e22_557 { 
	color:rgba(255, 255, 255, 1);
	width:285px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e6_66 { 
	width:205px;
	height:91px;
	position:absolute;
	left:839px;
	top:0px;
}.e6_67 { 
	background-color:rgba(122.71875455975533, 58.437505066394806, 187.00000405311584, 1);
	width:205px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e6_68 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	width:205px;
	height:72px;
	position:absolute;
	left:0px;
	top:19px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e19_180 { 
	width:572px;
	height:82px;
	position:absolute;
	left:1296px;
	top:174px;
}.e19_182 { 
	color:rgba(255, 255, 255, 1);
	width:538px;
	height:70px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}