.LeaguePage{
    height: 800px;
    width: 100%;
    background-image:linear-gradient(180deg, rgba(122, 58, 187, 0.6) 0%,rgba(122, 58, 187, 0.1) 100%);
}
.TeamAvaImg{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.TeamAva{
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

.Team{
    background-color: #BABFF0;
    display: flex;
    align-items: center;
    border-radius: 16px;
    width: 500px;
    padding: 10px 16px;
    margin: 8px
}

.TeamInfo{
    display: flex;
    flex-direction: column;
    color: black;
    margin-right: 8px;
}


.TeamTag{
    margin-right: 12px;
}

.TeamInfoName{
    margin-bottom: 14px;
}
.TeamInfoCountry{
    margin-top: 14px;
}
.TeamTableHeader{
    background-color: rgba(122, 58, 187, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 16px;
}
.TeamTableContent{
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TeamTableContentMain{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}

.EditTeam{
    background-color: rgba(0,0,0,0.2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editForm{
    background-color: rgba(122, 58, 187, 0.5);
    padding: 50px;
    border-radius: 4px;
    border: 2px solid black;

}
.editHeader{
    text-align: center;
    margin-bottom: 10px;
}

.inputItem label{
    margin-right: 8px;
}
.inputItem input{
    padding: 2px;
}