.HomeBG{
    background-image:linear-gradient(90deg, rgba(122, 58, 187, 0.3) 0%,rgba(0,0,0,0.7) 100%);
    height: 100%;
    opacity: 1
}

.Home{
    background-image: url(/src/img/Homebackground.jpg) ;
    background-size:cover ;
    background-position:center ;
    width: 100%;
    height: 610px;
    
}

.HomeMain{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding: 0 20px;
    height: 400px;
}

.HomeMain_left{
    align-self: center;
}
.HomeIntro_button{
    color:white;
    background-color: rgba(122, 58, 187, 1) ;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}
.HomeIntro_button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0.2px white;
}
.HomeMain2{
    height: 600px;
}
.HomeFooter{
    color : white;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    min-height: 200px;
}
